<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.judacribz.week3day4_contentprovider">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".master_detail_flow.pokemonListActivity"
            android:label="@string/title_pokemon_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".master_detail_flow.pokemonDetailActivity"
            android:label="@string/title_pokemon_detail"
            android:parentActivityName=".master_detail_flow.pokemonListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.judacribz.week3day4_contentprovider.master_detail_flow.pokemonListActivity" />
        </activity>
        <activity android:name=".list.PokeList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".models.PokeProvider"
            android:authorities="ca.judacribz.week3day4_contentprovider"
            android:permission="content.provider.permission" />
    </application>

</manifest>